<h6><a href="/investigations/ghgrp/" title="EPA's GreenHouse Gas Reporting Program" data-transition="fade">The U.S. Environmental Protection Agency`s Greenhouse Gas Reporting Program; A Tool For Regulating Greenhouse Gases</a></h6>
This is the first in a series of articles, that will examine point source greenhouse gas (GHG) emissions, in the United States (US), as well as the development of Renewable Energy to mitigate these emissions. This article looks at the history of regulating point source GHG, in the US, from Direct Emitters such as power utilities, industry and farms. In the past few years the US has made significant progress towards this goal, by having the Environmental Protection Agency's (EPA) 
develop the Greenhouse Gas Reporting Program (GHGRP).
<br />
<center>
<div class="cycle-slideshow" data-cycle-auto-height=4:2 data-cycle-fx="fadeout" data-cycle-timeout="1500" data-cycle-pause-on-hover="true">
  <div id="ghginvgaspng">
    <img srcset="/imgghg/ghginvgas.png 620w, /imgghg/altghginvgas.png 500w" sizes="(min-width: 51em) 40vw, (max-width: 50em) 80vw" src="/imgghg/altghginvgas.png" alt="US GHG Inventory, Sources and Sinks by Gas" title="US GHG Inventory, Sources and Sinks by Gas">
  </div>
  <div id="ghgcartogrampng">
    <img srcset="/imgghg/ghgcartogram.png 620w, /imgghg/altghgcartogram.png 500w" sizes="(min-width: 51em) 40vw, (max-width: 50em) 80vw" src="/imgghg/altghgcartogram.png" alt="US GHG Per Capita Emissions, by State" title="US GHG Per Capita Emissions, by State">
  </div>
  <div id="ghgsunburstpng">
    <img srcset="/imgghg/ghgsunburst.png 620w, /imgghg/altghgsunburst.png 500w" sizes="(min-width: 51em) 40vw, (max-width: 50em) 80vw" src="/imgghg/altghgsunburst.png" alt="US Direct Emitters of GHG, EPA Reporting Program" title="US Direct Emitters of GHG, EPA Reporting Program">
  </div>
  <div id="ghginvindustrypng">
    <img srcset="/imgghg/ghginvindustry.png 620w, /imgghg/altghginvindustry.png 500w" sizes="(min-width: 51em) 40vw, (max-width: 50em) 80vw" src="/imgghg/altghginvindustry.png" alt="US GHG Inventory, Sources and Sinks by Process" title="US GHG Inventory, Sources and Sinks by Process">
  </div>
  <div id="ghgbubblespng">
    <img srcset="/imgghg/ghgbubbles.png 620w, /imgghg/altghgbubbles.png 500w" sizes="(min-width: 51em) 40vw, (max-width: 50em) 80vw" src="/imgghg/altghgbubbles.png" alt="California GHG Per Capita Emissions, by Process" title="California GHG Per Capita Emissions, by Process">
  </div>
</div>
</center>
