{% extends "base.html" %}
{% block title %}{{ page_title }}{% endblock %}
{% block meta %}
    <meta name="keywords" content="environment, politics, technology, greenhouse gase, climate change, EPA Clean Power Plan" />
    <meta name="description" content="Description of people who work at DanuGroup." />
    <meta name="author" content="Jim McManus" />
{% endblock %}
{% block content %}
  <div class="ui-grid-a ui-responsive">
    <div class="ui-block-a">
      <div class="ui-body ui-body-a" style="border:none;">
        <h4>James McManus</h4>
        <div class="dg-text">
James McManus, has a broad background in Earth Science and Information Technology. His career spans a period where 
he witnessed the development of the World Wide Web, from its beginnings, along side the continued development of 
geospatial technologies, and their application in the Earth Science's. From the beginning he has understood the need 
for development environments that are transparent and evolutionary, for these technologies to be successful in
providing meaningful and lasting tools in research and analysis.
<br /><br />
His perspective on the Earth Science's have been heavily influenced by his experiences at NASA, where he was involved 
with field experiments that scaled processes from the leaf level to global scale. This gave him a unique appreciation 
of ecosystems, how they are affected by internal competition, and out side influences, and how these processes can 
change with scale. He also was involved with software information system's that archived and disseminated earth science 
data .When the concept of software ecosystems came out of the Open Source community, he immediately grasped its 
importance, and understood how such concepts could be applied in many other areas, such as social, environmental, 
economic... through the discernment of virtuous circles in these areas.
        </div>
      </div>
    </div>
    <div class="ui-block-b">
      <div class="ui-body ui-body-a" style="border:none;">
        <div class="dg-text">
<br />
His background in Geography, and career experiences have made him acutely aware of environmental issues, such as
climate change, water quality, land/ocean degradation, and extinctions, and how they conflict with the social
and economic needs of a human population greater than 7 billion, going on 10 billion. These conflicts are the great 
issues of our time.  There are no clear straight forward answer to them, and even if there were, coming to consensus 
on them is daunting. James, started DanuGroup in an effort to illustrate these conflicts, and the potential solutions. 
He hopes that DanuGroup will make a contribution to the awareness, understanding and desire of others to pursue 
solutions to these conflicts.
        </div>
      </div>
    </div>
  </div>
{% endblock %}
