@media only screen and (min-width: 1600px){
  .ui-page {
     width: 1600px !important;
     margin: 0px auto !important;
     position: relative !important;
  }
}
.dg-header {
  width: 100%;
  height: 175px;
  background: url("img/danugroup-header.e3dffe663c22.jpg") center center no-repeat;
}
@media all and (max-width: 800px) {
   .dg-header {
     width: 100%;
     height: 175px;
     background: url("img/alt-danugroup-header.697947f3b623.jpg") center center no-repeat;
   }
}
logo {
   margin: 0;
}
#danugroup-logo {
  position: relative;
  margin-top:5px;
  margin-left: 3%;
  width: 375px;
  height: 117px;
}
#danugroup-logo {
  background: url("img/DanuGroup-logo.281ee506ed0c.png") no-repeat 0px 0px;
}
#danugroup-logo:hover {
  background: url("img/DanuGroupHover-logo.641a9978149c.png") no-repeat 0px 0px;
}
a {
  text-decoration: none;
}
a:visited {
  color: #003300; 
}
a:focus {
  color: #003300; 
}
a:hover {
  color: #B82E00; 
}
a:active {
  color: #003300; 
}
p {
  margin-top:10px;
  margin-left:10px;
  margin-right:15px;
  margin-bottom:10px;
}
li {
  margin-top:0px;
  margin-left:30px;
  margin-right:15px;
  margin-bottom:0px;
  list-style-image: url("img/bullet.647f90992bde.png");
}
h1 {
  color: #003300;
  letter-spacing:-1px;
  font:bold 120% "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:2px;
  font-size:24px;
}
h2 {
  color: #003300;
  letter-spacing:-1px;
  font:bold 120% "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:2px;
  font-size:22px;
}
h3 {
  color: #003300;
  letter-spacing:-1px;
  font:bold 120% "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:2px;
  font-size:18px;
}
h4 {
  color: #003300;
  letter-spacing:-1px;
  font:bold 120% "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:2px;
  font-size:16px;
}
h5 {
  color: #003300;
  letter-spacing:-1px;
  font:"Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:0px;
  font-size:14px;
}
h6 {
  color: #000000;
  letter-spacing:-1px;
  font:bold 120% "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:0px;
  font-size:13px;
}
.dg-content {
  margin-top: 0px;
}
.dg-content.dg-fullwidth {
  width: auto;
  padding-left: 3%;
  padding-right: 3%;
  float: none;
}
.dg-text {
  line-height: 1.3;
  font-family:Arial, Helvetica, sans-serif;
  font-size: 1em;
  color-profile: sRGB;
  text-align:justify;
  rendering-intent: auto;
}
.dg-footer {
  width: 100%;
  height: 40px;
}
.dg-footer.dg-footer-menu { 
  position: relative;
  top: 0px;
  bottom: 0px;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
  background:#002500;
}
.dg-footer.dg-footer-menu a {
  color: #FFFFFF;
  text-decoration:none;
}
.dg-footer.dg-footer-menu a:hover {
  color:#B82E00;
  text-shadow: 1px 1px 1px #000000;
  text-decoration:none;
}
.dg-footer.dg-footer-ref {
  position: relative;
  top: 0px;
  bottom: 5px;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
  background:#002500;
}
.dg-footer.dg-footer-ref a {
  color: #FFFFFF;
  text-decoration:none;
}
.dg-footer.dg-footer-ref a:hover {
  color:#B82E00;
  text-shadow: 1px 1px 1px #000000;
  text-decoration:none;
}
.contactform {
  width:600px !important;
}
.contactform .ui-btn {
  width:150px !important;
}
.ui-input-text {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 75%;
  height:5% !important;
  max-height:300px !important;
}
.ui-input-text textarea {
  margin: 0.5em 0;
  padding: 0.5em;
  width: 100%;
  height:100% !important;
}
.zinnia form input[type=email] {
  width: 150px;
}
.hidden {
  display:none;
}
.visible {
  display:block;
}
#pauser { 
  width: 45%;
  padding: 30px;
  margin: auto;
  text-align: center;
  font-size: 16px;
}
.social-button-container {
  /**background-color: red;**/
  /**
  * This is a nice CSS trick that allows you to clear an element
  * without having to add extra elements to your HTML. This helps
  * seperate content from design, which should always be an architectural
  * goal.
  */
  overflow: hidden;
  float: left:
}
.social-button {
  float: left;
  min-width: 90px;
  min-height: 20px;
  padding-right: 4px;
}

