<div data-role="popup" id="co2eq" data-overlay-theme="b" data-theme="a" class="ui-content" style="max-width:500px; font-size:x-small;">
<a href="#co2eq" data-rel="back" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right">Close</a>
<h4>CARBON DIOXIDE EQUIVALENT</h4>
<p style="text-align:justify;" style="margin:0px">
This article uses the units of Metric tons (Mt) of Carbon Diocise equivalent (CO<sub>2eq</sub>), or MtCO<sub>2eq</sub>. The EPA uses CO<sub>2eq</sub>
as the units for GHG data. Each greenhouse gas has a different potential to trap heat in Earth's atmosphere. For example
methane (CH<sub>4</sub>) has 25 times as much impact on global warming (over 100 years) as one metric ton (Mt) of CO<sub>2</sub> emissions.
Therefore, one metric ton of methane has a CO<sub>2eq</sub> of 25 Mt. The Global Warming Potential (GWP) of the gasses that are 
included in GHG reporting are:
</p>
<table data-role="table" id="co2eq-table" data-mode="reflow" class="ui-responsive table-stroke" style="margin-top:-30px">
  <thead>
    <tr>
      <th data-priority="persist">Greenhouse Gas</th>
      <th data-priority="1">AR4 GWP-100yr</th>
      <th data-priority="2">SAR GWP-100yr</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>Carbon Dioxide (CO<sub>2</sub>)</th>
      <td>1</td>
      <td>1</td>
    </tr>
    <tr>
      <th>Methane (CH<sub>4</sub>)</th>
      <td>25</td>
      <td>21</td>
    </tr>
    <tr>
      <th>Nitrous Oxide (N<sub>2</sub>O)</th>
      <td>298</td>
      <td>310</td>
    </tr>
      <th>Hydrofluorocarbons HFCs</th>
      <td>124-14,800</td>
      <td>140-1,1700</td>
    <tr>
      <th>Sulphur hexafluoride SF<sub>6</sub></th>
      <td>22,800</td>
      <td>23,900</td>
    </tr>
      <th>Nitrogen trifluoride NF<sub>3</sub></th>
      <td>17,200</td>
      <td></td>
    <tr>
      <th>Perfluorinated compounds PFC's</th>
      <td>8,830-10,300</td>
      <td>7,000-8,700</td>
    </tr>
    <tr>
      <th>Fluorinated ether's HFE's</th>
      <td>59-14,900</td>
      <td></td>
    </tr>
  </tbody>
</table>
<div style="text-align:justify;">
The Intergovernmental Panel on Climate Change (IPCC) provides the GWP values above. Currently the AR4 values, which
are from Fourth Assessment Report, are being used, while the Second Assessment Report (SAR) have been retired. Using 
GWP makes it easier to compare greenhouse gasses. Carbon Dioxide (CO<sub>2</sub>) has by far the lowest GWP, but still dwarfs all
other greenhouse gasses in emissions, measured by CO<sub>2eq</sub>.
</div>
</div>
