<script type="application/ecmascript" src="/jsjquery/jquery-1.11.2.min.js"></script>
<script type="application/ecmascript" src="/jsjquery/jquery-1.11.2.min.map"></script>
<script type="application/ecmascript" src="/jsghg/d3.min.js"></script>
<script type="application/ecmascript" src="/jsghg/dimple.v2.1.0.min.js"></script>
<script type="application/ecmascript" src="/jsghg/sankey.js"></script>
<script type="application/ecmascript" src="/jsghg/colorbrewer.js"></script>
<script type="application/ecmascript" src="/jsghg/tooltip.js"></script>
