<div data-role="popup" id="ghginvbarpopuptotals" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghginvbar.html#totals" id="ghginvbar" width="1200" height="400" sandbox="allow-same-origin allow-scripts" seamless=""></iframe>
</div>
<div data-role="popup" id="ghginvbarpopupindustry" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghginvbar.html#industry" id="ghginvbar" width="1200" height="400" sandbox="allow-same-origin allow-scripts" seamless=""></iframe>
</div>
<div data-role="popup" id="ghginvbarpopupenergy" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghginvbar.html#energy" id="ghginvbar" width="1200" height="400" sandbox="allow-same-origin allow-scripts" seamless=""></iframe>
</div>
<div data-role="popup" id="ghgsectorgasemissionspopup" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgsectorgasemissions.html" id="ghgsectorgasemissions" width="500" height="500" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgsectorgasemissionspopup2010" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgsectorgasemissions.html#2010" id="ghgsectorgasemissions" width="500" height="500" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgsectorgasemissionspopup2013" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgsectorgasemissions.html#2013" id="ghgsectorgasemissions" width="500" height="500" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgsectorgaspopup" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgsectorgas.html" id="ghgsectorgas" width="650" height="475" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgmappopupe" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgmap.html#emissions/2013" id="ghgmap" width="750" height="450" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgmappopupetx" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgmap.html#emissions/2013/TX" id="ghgmap" width="750" height="450" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgmappopupeca" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgmap.html#emissions/2013/CA" id="ghgmap" width="750" height="450" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
<div data-role="popup" id="ghgmappopupppe" data-overlay-theme="b" data-theme="a">
<a href="./" class="ui-btn ui-corner-all ui-shadow ui-btn-a ui-icon-delete ui-btn-icon-notext ui-btn-right"></a>
<iframe src="ghgmap.html#perpersonem/2013" id="ghgmap" width="750" height="450" sandbox="allow-same-origin allow-scripts" seamless></iframe>
</div>
