<div data-role="footer">
  <div class="dg-footer dg-footer-menu">
     <center><br />
     <a href="/" target="_self" title="Home" data-transition="fade">Home</a> |
     <a href="/mission.html" title="Mission" data-transition="fade">Mission</a> |
     <a href="/people.html" title="People" data-transition="fade">People</a> |
     <a href="/focus.html" title="Focus" data-transition="fade">Focus</a> |
     <a href="/blog/" target="_self" title="Blog" data-transition="fade">Blog</a> |
     <a href="/contact/" title="Contact" data-transition="fade">Contact</a>
     </center>
  </div>
  <div class="dg-footer dg-footer-ref">
     <center>
     &copy; 2013 DanuGroup, 
     Powered by <a href="http://cloud.google.com" target="_blank">Google Cloud</a>,
     <a href="http://www.djangoproject.com" target="_blank">Django</a>,   
     <a href="http://django-blog-zinnia.com" target="_blank">Zinnia</a>, and
     <a href="http://jquerymobile.com" target="_blank">JQuery Mobile</a>
     </center>
  </div>
</div>
