  <div data-role="header" class="dg-header" data-position="fixed">
    <logo>
      <a href="/" target="_self" data-transition="fade">
        <div id="danugroup-logo" title="Home"></div>
      </a>
    </logo>
    <ul id="menu">
      <li><a class="drop" title="About" data-transition="fade">About</a>
        <div class="dropdown_1column">
          <ul>
            <li>
              <a href="/mission.html" title="Mission" data-transition="fade">
                  Mission
              </a>
            </li>
          </ul>
          <ul>
            <li>
              <a href="/people.html" title="People" data-transition="fade">
                  People
              </a>
            </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/focus.html" title="Focus" data-transition="fade">
            Focus
        </a>
      </li>
      <li><a class="drop" title="Investigations" data-transition="fade">Investigations</a>
        <div class="dropdown_1column">
          <ul>
            <li>
              <a href="/investigations/ghgrp/" title="EPA's GreenHouse Gas Reporting Program" data-transition="fade" data-ajax="false">
                  GHG Reporting Program
              </a>
           </li>
          </ul>
        </div>
      </li>
      <li>
        <a href="/blog/" target="_self" title="Blog" data-transition="fade">
            Blog
        </a>
      </li>
      <li>
        <a href="/contact/" title="Contact" data-transition="fade">
            Contact</a>
      </li>
    </ul>
  </div>
