<div data-role="header" class="dg-header" data-position="fixed">
   <logo>
     <a href="/" target="_self" data-transition="fade">
       <div id="danugroup-logo" title="Home"></div>
     </a>
   </logo>
   <div id="menu">
     <a href="#danupanel" class="panel">Menu</a>
   </div>
</div>
<div data-role="panel" id="danupanel" data-position="left" data-display="overlay" data-theme="menu">
   <ul>
     <li>
       <h3><a title="About" data-transition="fade">About</a></h3>
       <ul> 
       <li class="submenu">
         <h4>
         <a href="/mission.html" title="Mission" data-transition="fade">
           Mission
         </a>
         </h4>
       </li>
       <li class="submenu">
         <h4>
         <a href="/people.html" title="People" data-transition="fade">
           People
         </a>
         </h4>
       </li>
       </ul>
     </li><br />
     <li>
       <h3>
       <a href="/focus.html" title="Focus" data-transition="fade">
         Focus
       </a>
       </h3>
     </li><br />
     <li>
       <h3>
       <a title="Investigations" data-transition="fade">Investigations</a>
       </h3>
       <ul>
       <li class="submenu">
         <h4>
         <a href="/investigations/ghgrp/" title="EPA's GreenHouse Gas Reporting Program" data-transition="fade" data-ajax="false">
             GHG Reporting<br /> Program
         </a>
         </h4>
       </li>
       </ul>
     </li><br />
     <li>
       <h3>
       <a href="/blog/" target="_self" title="Blog" data-transition="fade">
         Blog
       </a>
       </h3>
     </li><br />
     <li>
       <h3>
       <a href="/contact/" title="Contact" data-transition="fade">
         Contact
       </a>
       </h3>
     </li><br />
     <li>
       <h3>
         <a href="#" data-rel="close" title="Close Menu">Close Menu</a>
       </h3>
   </li>
   </ul>
</div>
