div, span, applet, object, iframe, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; 
}
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block; 
}
ol, ul {
  list-style: none; 
}
blockquote, q {
  quotes: none; 
}
blockquote:before, blockquote:after {
  content: "";
  content: none; 
}
q:before, q:after {
  content: "";
  content: none; 
}
table {
  border-collapse: collapse;
  border-spacing: 0; 
}
.zinnia {
  line-height: 1.3;
  font-family: Arial, Helvetica, sans-serif; 
  font-size: 1em;
  color-profile: sRGB;
  text-align:justify;
  rendering-intent: auto; 
}
  .zinnia p {
    margin: 0 0 1.5em; 
  }
  .zinnia blockquote {
    margin: 1.5em;
    font-style: italic;
    padding: 1em; 
  }
    .zinnia blockquote p {
      margin: 0; 
    }
  .zinnia strong, .zinnia dfn {
    font-weight: bold; 
  }
  .zinnia em, .zinnia dfn {
    font-style: italic; 
  }
  .zinnia address {
    margin: 0 0 1.5em;
    font-style: italic; 
  }
  .zinnia pre, .zinnia code, .zinnia tt {
    font: 1em andale mono, lucida console, monospace;
    line-height: 1.5; 
  }
  .zinnia pre {
    margin: 1.5em 0;
    white-space: pre;
    line-height: 110%;
    padding: 1em; 
  }
  .zinnia li ul, .zinnia li ol {
    margin: 0; 
  }
  .zinnia ul, .zinnia ol {
    margin: 0 1.5em 1.5em 0;
    padding-left: 1.5em; 
  }
  .zinnia ul {
    list-style-type: disc; 
  }
  .zinnia ol {
    list-style-type: decimal; 
  }
  .zinnia li {
    list-style-image: url("../img/bullet.png"); 
  }
  .zinnia dl {
    margin: 0 0 1.5em 0; 
  }
    .zinnia dl dt {
      font-weight: bold; 
    }
  .zinnia dd {
    margin-left: 1.5em; 
  }
  .zinnia table {
    margin-bottom: 1.4em;
    width: 100%; 
  }
  .zinnia th {
    font-weight: bold; 
  }
  .zinnia th, .zinnia td, .zinnia caption {
    padding: 4px 10px 4px 5px; 
  }
  .zinnia tfoot {
    font-style: italic; 
  }
  .zinnia img.help {
    cursor: help; 
  }
  .zinnia li p {
    margin: 0; 
  }
.zinnia form label {
  display: block;
  font-weight: bold; 
}
.zinnia form fieldset {
  padding: 1.4em;
  margin: 0 0 1.5em 0; 
}
.zinnia form legend {
  font-weight: bold;
  font-size: 1.2em; 
}
.zinnia form input[type=email], .zinnia form input[type=url], .zinnia form input[type=text], .zinnia form input[type=password] {
  margin: 0.0em 0;
  width: 75%;
  padding: 0.0em; 
}
.zinnia form textarea {
  margin: 0.0em 0;
  padding: 0.0em;
  width: 100%;
  height: 300px; 
}
.zinnia form select {
  margin: 0.5em 0;
}
.zinnia form ul.errorlist {
  margin: 0;
  padding: 0; 
}
  .zinnia form ul.errorlist li {
    list-style: none;
    display: inline; 
  }
.zinnia .container {
  *zoom: 1;
  max-width: 80em;
  padding-left: 5%;
  padding-right: 5%;
  margin-left: auto;
  margin-right: auto;
  background-origin: content-box;
  background-clip: content-box; 
  background-color: #fff; 
}
  .zinnia .container:after {
    content: "";
    display: table;
    clear: both; 
  }
.zinnia #header, .zinnia #footer {
  clear: both; 
}
@media (min-width: 1024px) {
  .zinnia .container {
    max-width: 85em; 
  }
  .zinnia #content, .zinnia.right-sidebar #content {
    width: 65.89147%;
    float: left;
    margin-right: 1.16279%; 
  }
  .zinnia #sidebar, .zinnia.right-sidebar #sidebar {
    width: 32.94574%;
    float: right;
    margin-right: 0; 
  }
  .zinnia.left-sidebar #content {
    width: 65.89147%;
    float: right;
    margin-right: 0; 
  }
  .zinnia.left-sidebar #sidebar {
    width: 32.94574%;
    float: left;
    margin-right: 1.16279%; 
  }
  .zinnia.no-sidebar #content {
    width: 100%;
    float: left;
    margin-right: 1.16279%; 
  }
  .zinnia.no-sidebar #sidebar {
    display: none; 
  }
}
.zinnia #header {
  margin-bottom: 1em; 
}
  .zinnia #header h1 {
    margin-top: 0.5em;
    margin-bottom: 0;
    font-weight: bold; 
  }
    .zinnia #header h1:first-letter {
      font-size: 130%; 
    }
  .zinnia #header blockquote {
    border: none;
    background: none;
    margin: 0 0 1.5em 0;
    padding: 0 1.5em 0 0; 
  }
  .zinnia #header form {
    float: right;
    clear: both;
    display: none; 
  }
    .zinnia #header form input[type=text] {
      width: 85%;
      background-image: url("../img/search.png");
      background-repeat: no-repeat;
      background-position: 5px center;
      padding-left: 25px;
      border-radius: 5px; 
    }
    .zinnia #header form input[type=submit] {
      display: none; 
    }
  .zinnia #header .top-navigation {
    margin: 0;
    float: right;
    display: none; 
  }
    .zinnia #header .top-navigation li {
      list-style: none;
      display: inline; 
    }
      .zinnia #header .top-navigation li:after {
        content: "|"; 
      }
      .zinnia #header .top-navigation li:last-child:after {
        content: ""; 
      }
      .zinnia #header .top-navigation li.last:after {
        content: ""; 
      }
    .zinnia #header .top-navigation .sitemap {
      background: transparent url("../img/sitemap.png") no-repeat scroll left center;
      padding-left: 1.5em; 
    }
    .zinnia #header .top-navigation .feeds {
      background: transparent url("../img/rss.png") no-repeat scroll left center;
      padding-left: 1.5em; 
    }
  @media (min-width: 480px) {
    .zinnia #header form, .zinnia #header .top-navigation {
      display: block; 
    }
  }
  @media (min-width: 768px) {
    .zinnia #header h1 {
      font-size: 4em; 
    }
  }
  @media (min-width: 1024px) {
    .zinnia #header h1 {
      background: transparent url("../img/logo.png") no-repeat scroll left center;
      padding-left: 1.5em; 
    }
    .zinnia #header blockquote {
      margin-left: 6em; 
    }
  }
.zinnia .slider-container {
  height: auto;
  max-width: 800px;
  position: relative;
  margin-bottom: 1em;
  clear: both; 
}
  .zinnia .slider-container ul, .zinnia .slider-container ol, .zinnia .slider-container li {
    margin: 0;
    padding: 0;
    list-style: none; 
  }
.zinnia .slider {
  width: 100%;
  position: relative;
}
.zinnia .slides:before, .zinnia .slides:after {
  content: " ";
  height: 0;
  display: block;
  overflow: hidden; 
}
.zinnia .slides:after {
  clear: both; 
}
.zinnia .slide {
  display: none;
  position: relative; 
}
  .zinnia .slide img {
    width: 100%;
    height: 250px;
    display: block; 
  }
.zinnia .slide-content {
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;
  padding: 1em 2em; 
}
  .zinnia .slide-content h2, .zinnia .slide-content p {
    text-shadow: 1px 1px 0 #000000;
    background-color: rgba(0, 0, 0, 0.7); 
  }
  .zinnia .slide-content h2 {
    padding: 0.25em;
    font-weight: bold;
    display: inline-block; 
  }
  .zinnia .slide-content p {
    color: #fff;
    padding: 1em;
    display: none; 
  }
.zinnia ol.flex-control-nav {
  width: 100%;
  z-index: 999;
  text-align: center;
  margin-top: 1em; 
}
  .zinnia ol.flex-control-nav li {
    display: inline;
    margin: 0 0em; 
  }
    .zinnia ol.flex-control-nav li a {
      height: 0;
      width: 8px;
      overflow: hidden;
      padding-top: 8px;
      display: inline-block;
      border-radius: 10px;
      -moz-border-radius: 10px; 
    }
.zinnia .flex-direction-nav a {
  height: 0;
  width: 14px;
  padding-top: 22px;
  display: block;
  bottom: 0;
  position: absolute;
  overflow: hidden;
  opacity: 0.7; 
}
  .zinnia .flex-direction-nav a:hover {
    opacity: 1; 
  }
.zinnia .flex-direction-nav .prev {
  left: 0;
  background: url("../img/prev.png") no-repeat center center; 
}
.zinnia .flex-direction-nav .next {
  right: 0;
  background: url("../img/next.png") no-repeat center center; 
}
@media (min-width: 900px) {
  .zinnia .slider-container {
    padding-left: 8.43373%;
    padding-right: 8.43373%; 
  }
  .zinnia .slide-content h2 {
    font-size: 3em; 
  }
  .zinnia .slide-content p {
    font-size: 1.2em;
    display: inline-block; 
  }
  .zinnia .slide img {
    height: 360px; 
  }
  .zinnia .flex-direction-nav .prev {
    bottom: 7em;
    left: -2em; 
  }
  .zinnia .flex-direction-nav .next {
    bottom: 7em;
    right: -2em; 
  }
}
@media (max-width: 400px) {
  .zinnia .slider-container {
    display: none; 
  }
}
.zinnia .breadcrumbs {
  display: none; 
}
@media (min-width: 480px) {
  .zinnia .breadcrumbs {
    display: block;
    margin: 0px;
    font-size: 1.2em;
    background: transparent url("../img/breadcrumb.png") no-repeat scroll left center; 
}
    .zinnia .breadcrumbs li {
      list-style: none;
      display: inline; 
    }
      .zinnia .breadcrumbs li:after {
        content: "/"; 
      }
      .zinnia .breadcrumbs li:last-child:after {
        content: ""; 
      }
      .zinnia .breadcrumbs li.last:after {
        content: ""; 
      }
 }
.zinnia .hentry {
  margin-bottom: 1em; 
}
.zinnia h2.entry-title {
  font-weight: bold;
  margin-bottom: 0; 
}
.zinnia .entry-info {
  padding-left: 2em;
  background: transparent url("../img/category.png") no-repeat scroll 0.5em; 
}
.zinnia .entry-last-update {
  display: none; 
}
.zinnia .entry-image img {
  width: 100%; 
}
.zinnia .entry-summary p {
  text-align: justify;
  font-size: 1.2em;
  font-weight: bold; 
}
  .zinnia .entry-summary p:first-of-type:first-letter {
    font-size: 1.4em;
    line-height: 0; 
  }
.zinnia .entry-content {
  text-align: justify; 
}
  .zinnia .entry-content p {
    font-size: 1em; 
  }
  .zinnia .entry-content img {
    padding: 1em;
    max-width: 100%;
    box-sizing: border-box; 
  }
    .zinnia .entry-content img, .zinnia .entry-content img.left {
      margin: 0 1em 1em 0;
      float: left; 
    }
    .zinnia .entry-content img.right {
      margin: 0 0 1em 1em;
      float: right; 
    }
  .zinnia .entry-content li {
    list-style-image: none; 
  }
  .zinnia .entry-content .hide {
    display: none; 
  }
  .zinnia .entry-content .highlight {
    background: yellow; 
  }
.zinnia .continue-reading {
  clear: both;
  font-size: 1.2em; 
}
  .zinnia .continue-reading a:after {
    content: "\21d2"; 
  }
.zinnia .entry-footer {
  clear: both; 
}
  .zinnia .entry-footer p {
    margin: 0; 
  }
.zinnia .entry-tags strong {
  padding-left: 1.5em;
  background: transparent url("../img/tags.png") no-repeat scroll; 
}
.zinnia .entry-shorturl strong {
  padding-left: 1.5em;
  background: transparent url("../img/shorturl.png") no-repeat scroll; 
}
.zinnia .entry-discussions strong {
  padding-left: 1.5em;
  background: transparent url("../img/comments.png") no-repeat scroll; 
}
.zinnia .entry-widgets p, .zinnia .entry-widgets ul {
  padding-left: 1.5em; 
}
.zinnia .entry-widgets, .zinnia #comments, .zinnia #pingbacks, .zinnia #trackbacks {
  padding-top: 1em; 
}
.zinnia #comment-list li, .zinnia #pingback-list li, .zinnia #trackback-list li {
  list-style: none;
  padding: 1em 1em 0 1em;
  margin-bottom: 1em; 
}
.zinnia #comment-list li {
  min-height: 90px; 
}
.zinnia #comment-list img {
  float: left;
  margin-right: 1em;
  padding: 0.5em; 
}
.zinnia p.comment-info, .zinnia p.trackback-info, .zinnia p.pingback-info {
  font-weight: bold;
  font-size: 1.2em;
  margin-bottom: 0.5em; 
}
.zinnia .anchor-link {
  font-weight: normal;
  font-size: 1em; 
}
.zinnia .feed {
  background: transparent url("../img/rss.png") no-repeat scroll left center;
  padding-left: 1.5em; 
}
.zinnia a[rel=archives] {
  display: inline-block; 
}
  .zinnia a[rel=archives]:first-letter {
    text-transform: uppercase; 
  }
.zinnia ul.paginator {
  margin: 0;
  padding: 1.5em 0;
  font-size: 1.2em; 
}
  .zinnia ul.paginator li {
    list-style: none;
    display: inline-block;
    margin-right: 0.3em; 
  }
    .zinnia ul.paginator li.current {
      font-weight: bold; 
    }
    .zinnia ul.paginator li.current, .zinnia ul.paginator li.index, .zinnia ul.paginator li.ellipsis, .zinnia ul.paginator li * {
      padding: 0 0.5em; 
    }
    .zinnia ul.paginator li.index, .zinnia ul.paginator li.previous, .zinnia ul.paginator li.next, .zinnia ul.paginator li.ellipsis {
      display: none; 
    }
    @media (min-width: 480px) {
      .zinnia ul.paginator li.previous, .zinnia ul.paginator li.next, .zinnia ul.paginator li.ellipsis {
        display: inline-block; 
      }
    }
    @media (min-width: 1024px) {
      .zinnia ul.paginator li.index {
        display: inline-block; 
      }
    }
.zinnia #footer {
  padding-top: 1em; 
}
.zinnia #sidebar h3 {
  padding: 0.5em; 
}
.zinnia #sidebar p {
  padding-left: 1em; 
}
.zinnia #sidebar ul, .zinnia #sidebar ol {
  margin-left: 1em; 
}
  .zinnia #sidebar ul ul, .zinnia #sidebar ul ol, .zinnia #sidebar ol ul, .zinnia #sidebar ol ol {
    margin-left: 0em; 
  }
.zinnia .tag-cloud {
  padding: 0;
  font-size: 1.4em;
  line-height: 1.68em; 
}
  .zinnia .tag-cloud li {
    list-style: none;
    display: inline; 
  }
  .zinnia .tag-cloud .tag-1 {
    font-size: 0.7em; 
  }
  .zinnia .tag-cloud .tag-2 {
    font-size: 0.93333em; 
  }
  .zinnia .tag-cloud .tag-3 {
    font-size: 1.05em; 
  }
  .zinnia .tag-cloud .tag-4 {
    font-size: 1.86667em; 
  }
  .zinnia .tag-cloud .tag-5 {
    font-size: 2.1em; 
  }
  .zinnia .tag-cloud .tag-6 {
    font-size: 2.8em; 
  }
.zinnia .entries-popular a {
  display: block; 
}
.zinnia [class*='entries-calendar'] {
  table-layout: fixed; 
}
  .zinnia [class*='entries-calendar'] caption, .zinnia [class*='entries-calendar'] td, .zinnia [class*='entries-calendar'] th {
    padding: 4px 0;
    text-align: center; 
  }
  .zinnia [class*='entries-calendar'] caption {
    font-weight: bold;
    text-transform: uppercase; 
  }
  .zinnia [class*='entries-calendar'] tfoot td {
    font-style: normal;
    text-transform: capitalize; 
  }
  .zinnia [class*='entries-calendar'] .entry {
    font-weight: bold; 
  }
.zinnia.danugroup {
  color: #333;
  background-color: #fff;
  background: transparent url("../img/background.gif") repeat-x scroll left top; 
}
  .zinnia.danugroup a {
    color: #666; 
  }
    .zinnia.danugroup a:hover {
      color: #333; 
    }
  .zinnia.danugroup blockquote, .zinnia.danugroup pre {
    background-color: #fff;
    color: #333; 
  }
  .zinnia.danugroup blockquote {
    border: 1px dashed #ccc; 
  }
  .zinnia.danugroup pre {
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc; 
  }
  .zinnia.danugroup abbr, .zinnia.danugroup acronym {
    border-bottom: 1px dotted #ccc; 
  }
  .zinnia.danugroup h2.entry-title {
    border-bottom: 1px solid #ddd;
    text-shadow: 1px 1px 0 #ddd; 
  }
  .zinnia.danugroup .entry-info {
    color: #666; 
  }
  .zinnia.danugroup .entry-content {
    color: #333; 
  }
  .zinnia.danugroup .entry-image p {
    color: #666; 
  }
  .zinnia.danugroup .entry-content img {
    border: 1px solid #ddd; 
  }
  .zinnia.danugroup .entry-footer strong {
    color: #666; 
  }
  .zinnia.danugroup .entry-widgets, .zinnia.danugroup #comments, .zinnia.danugroup #pingbacks, .zinnia.danugroup #trackbacks, .zinnia.danugroup #footer {
    border-top: 1px solid #ddd; 
  }
  .zinnia.danugroup li.comment, .zinnia.danugroup li.pingback, .zinnia.danugroup li.trackback {
    border: 1px solid #ddd; 
  }
    .zinnia.danugroup li.comment img, .zinnia.danugroup li.pingback img, .zinnia.danugroup li.trackback img {
      border: 1px solid #ddd; 
    }
  .zinnia.danugroup .superuser-comment img {
    background-color: #ddd; 
  }
  .zinnia.danugroup #header {
    border-bottom: 1px solid #ddd; 
  }
    .zinnia.danugroup #header h1 {
      text-shadow: 2px 2px 2px #ccc; 
    }
    .zinnia.danugroup #header blockquote {
      color: #666; 
    }
  .zinnia.danugroup fieldset {
    border: 1px solid #ddd; 
  }
  .zinnia.danugroup legend, .zinnia.danugroup caption {
    color: #666; 
  }
  .zinnia.danugroup input[type=url], .zinnia.danugroup input[type=email], .zinnia.danugroup input[type=text], .zinnia.danugroup input[type=password], .zinnia.danugroup textarea {
    color: #666;
    background-color: #fff;
    border: 0px solid #fff; 
  }
    .zinnia.danugroup input[type=url]:focus, .zinnia.danugroup input[type=email]:focus, .zinnia.danugroup input[type=text]:focus, .zinnia.danugroup input[type=password]:focus, .zinnia.danugroup textarea:focus {
      border-color: #ccc;
      color: #000; 
    }
  .zinnia.danugroup ol.flex-control-nav li a {
    background: #fff; 
  }
    .zinnia.danugroup ol.flex-control-nav li a:hover {
      background: #ccc; 
    }
    .zinnia.danugroup ol.flex-control-nav li a.active {
      background: #ddd; 
    }
  .zinnia.danugroup #sidebar h3 {
    background-color: #fff; 
  }
  .zinnia.danugroup [class*='entries-calendar'] th, .zinnia.danugroup [class*='entries-calendar'] tfoot td {
    color: #666;
    background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ddd;
    border-top: 1px solid #ddd; 
  }
  .zinnia.danugroup .paginator {
    border-top: 1px solid #ddd; 
  }
    .zinnia.danugroup .paginator li {
      border: solid 1px #ddd; 
    }
      .zinnia.danugroup .paginator li.page:hover {
        background-color: #fff; 
      }
        .zinnia.danugroup .paginator li.page:hover a {
          color: #333; 
        }
  .zinnia.danugroup.entry-list .hfeed > h2 {
    border-top: 1px solid #ddd; 
  }
.zinnia.danu h1, .zinnia.danu h2, .zinnia.danu h3, .zinnia.danu h4, .zinnia.danu h5, .zinnia.danu h6 {
  color: #002500;
  letter-spacing:-1px;
  font:bold 120% "Lucida Grande", Lucida, Verdana, sans-serif;
  margin-top:0px;
  margin-bottom:2px;
}
.zinnia.danu h1{
  font-size:24px;
}
.zinnia.danu h2{
  font-size:22px;
}
.zinnia.danu h3{
  font-size:18px;
}
.zinnia.danu h4{
  font-size:16px;
}
.zinnia.danu h5{
  font-size:14px;
}
.zinnia.danu h6{
  font-size:12px;
}
#danupanel a {
  color: white;
  text-shadow: 1px 1px 1px #000000;
}
#danupanel a:visited {
  color: white;
  text-shadow: 1px 1px 1px #000000;
}
#danupanel a:hover {
  color: #B82E00;
  text-shadow: 1px 1px 1px #000000;
}
#danupanel a:active {
  color: #B82E00;
  text-shadow: 1px 1px 1px #000000;
}
.zinnia.danu a {
  color: #002500; 
}
.zinnia.danu a:visited {
  color: #002500;
}
.zinnia.danu a:focus {
  color: #B82E00;
}
.zinnia.danu a:hover {
  color: #B82E00; 
}
.zinnia.danu a:active {
  color: #B82E00;
}
.zinnia.danu ol.flex-control-nav li a.active {
  background: #002500; 
}
.zinnia.danu .slide-content a {
  color: #002500; 
}
.zinnia .info {
  color: white;
  background: #2ba6cb;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-color: #4fbada;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 1em; 
}
  .zinnia .info a {
    font-weight: bold;
    color: white; 
  }
    .zinnia .info a:visited {
      color: white; 
    }
    .zinnia .info a:focus {
      color: white; 
    }
    .zinnia .info a:hover {
      color: white; 
    }
    .zinnia .info a:active {
      color: white; 
    }
.zinnia .error {
  color: white;
  background: #da0000;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-color: #ff0e0e;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 1em; 
}
  .zinnia .error a {
    font-weight: bold;
    color: white; 
  }
    .zinnia .error a:visited {
      color: white; 
    }
    .zinnia .error a:focus {
      color: white; 
    }
    .zinnia .error a:hover {
      color: white; 
    }
    .zinnia .error a:active {
      color: white; 
    }
.zinnia .success {
  color: white;
  background: #7fae00;
  border: 2px solid rgba(0, 0, 0, 0.1);
  border-color: #a4e100;
  text-shadow: 0 -1px rgba(0, 0, 0, 0.3);
  border-radius: 3px;
  padding: 0.5em;
  margin-bottom: 1em; 
}
  .zinnia .success a {
    font-weight: bold;
    color: white; 
  }
    .zinnia .success a:visited {
      color: white; 
    }
    .zinnia .success a:focus {
      color: white; 
    }
    .zinnia .success a:hover {
      color: white; 
    }
    .zinnia .success a:active {
      color: white; 
    }
.zinnia.danu .dg-footer {
  width: 100%;
  height: 40px;
}
.zinnia.danu .dg-footer.dg-footer-menu {
  position: relative;
  top: 0px;
  bottom: 0px;
  font-size: 14px;
  font-family:Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
  background:#002500;
}
.zinnia.danu .dg-footer.dg-footer-menu a {
  color: #FFFFFF;
  text-decoration:none;
}
.zinnia.danu .dg-footer.dg-footer-menu a:hover {
  color:#B82E00;
  text-shadow: 1px 1px 1px #000000;
  text-decoration:none;
}
.zinnia.danu .dg-footer.dg-footer-ref {
  position: relative;
  top: 0px;
  bottom: 5px;
  font-size: 12px;
  font-family:Arial, Helvetica, sans-serif;
  color: #FFFFFF;
  text-shadow: 1px 1px 1px #000000;
  background:#002500;
}
.zinnia.danu .dg-footer.dg-footer-ref a {
  color: #FFFFFF;
  text-decoration:none;
}
.zinnia.danu .dg-footer.dg-footer-ref a:hover {
  color:#B82E00;
  text-shadow: 1px 1px 1px #000000;
  text-decoration:none;
}
.ui-icon-loading {
  background: url("../img/ajax-loader.gif");
  background-size: 2.875em 2.875em;
}
